<head>
    <meta charset='UTF-8'>
    <title>Node Personal Blog</title>
    <meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1'>
    <meta name='description' content='Node personal blog, Sharing All Tech for NodeJS'>
    <meta name='keywords' content='Node, JS, Blog'>
    <link rel='stylesheet' href='/css/normalize.css'>
    <link rel='stylesheet' href='/css/main.css'>
</head>