<!DOCTYPE html>
<html lang='us'>
<%- include('./public/head.ejs') %>
<body>
    <%- include('./public/header.ejs') %>
    <section class='main floatfix'>
        <%- include('./public/aside.ejs') %>
        <section class='main-articles about'>
            <h2>About NodeJS Blog</h2>
            <p>Sharing, Notes, and Memo Backend and Frontend Skills By Node.js</p>
        </section>
    </section>
    <%- include('./public/footer.ejs') %>
</body>
</html>