<!DOCTYPE html>
<html lang='us'>
<%- include('./public/head.ejs') %>
<body>
    <%- include('./public/header.ejs') %>
    <section class='main floatfix'>
        <%- include('./public/aside.ejs') %>
        <section class='main-articles friends'>
            <h2>NodeJS Websites Links</h2>
            <ul class='floatfix'>
                <li><a href='https://github.com'>GitHub</a></li>
                <li><a href='https://cnodejs.org'>CNode</a></li>
                <li><a href='https://google.com'>Google</a></li>
                <li><a href='https://npmjs.com'>NPM</a></li>
                <li><a href='https://w3cschool.com'>W3CSchool</a></li>
                <li><a href='https://developer.mozilla.org'>MDN</a></li>
                <li><a href='https://nodejs.org/en/docs/'>Nodejs Docs</a></li>
            </ul>
        </section>
    </section>
    <%- include('./public/footer.ejs') %>
</body>
</html>